.app__chef {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 5rem;
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-content_quote img {
    width: 47px;
    height: 40px;
    margin: 0 1rem 1rem 0;
}

.app__chef-sign {
    width: 100%;
    margin-top: 3rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-weight: 400;
    font-size: 32px;
    line-height: 41.6px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

.app__chef-sign img {
    width: 250px;
    margin-top: 3rem;
}

@media screen and (min-width: 2000px) {
    .app__chef-sign img {
        width: 370px;
    }
}

@media screen and (max-width: 650px) {
    .app__chef-content {
        margin-top: 3rem;
    }

    .app__chef-content_quote img {
        width: 35px;
        height: 30px;
        margin: 0 0.5rem 0.5rem 0;
    }

    .app__chef-sign {
        margin-top: 2rem;
    }

    .app__chef-sign p:first-child {
        font-size: 26px;
        line-height: 34px;
    }

    .app__chef-sign img {
        width: 200px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .app__chef-content {
        margin-top: 2rem;
    }

    .app__chef-content_quote img {
        width: 30px;
        height: 25px;
    }

    .app__chef-sign p:first-child {
        font-size: 22px;
        line-height: 30px;
    }

    .app__chef-sign img {
        width: 170px;
        margin-top: 1.5rem;
    }
}