.app__header {
    background-color: var(--color-black);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 90px;
    font-size: 75px;
}

.app__header-img img {
    width: 70%;
    max-height: 500px;
    object-fit: contain;
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 55px;
        line-height: 70px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 1rem;
    }

    .app__header .app__wrapper_info {
        padding: 0;
    }

    .app__header .app__wrapper_info p {
        margin: 1rem 0 !important;
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 0.8rem;
    }

    .app__header .app__wrapper_info p {
        font-size: 13px;
        line-height: 20px;
        margin: 0.8rem 0 1.2rem 0 !important;
    }

    .app__header-img img {
        width: 100%;
        max-height: 300px;
    }
}
